[submodule "ansible-prometheus"]
	path = ansible-prometheus
	url = git@github.com:cloudalchemy/ansible-prometheus.git
[submodule "cp-ansible"]
	path = cp-ansible
	url = git@github.com:thecrazymonkey/cp-ansible.git
